@media (min-width: 1025px) {
  .userPlayer__wrapper {
    width: 100%;
    min-height: 100vh;
    background: #111;
  }
  .userPlayer__main {
    max-width: 920px;
    display: flex;
    flex-direction: column;
    margin: 19px auto 0;
  }
  .functions__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    & .arrowLeft {
      margin-right: 24px;
    }
  }
  .profile__wrapper {
    display: flex;
    align-items: center;
  }
  .subscribe__wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  .videoplayer__wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .videoInfo__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 32px;
    & .title {
      margin-bottom: 22px;
      white-space: nowrap;
    }
    & .statistics__wrapper {
      display: flex;
      align-items: center;
      column-gap: 16px;
      grid-column-start: 1;
      grid-column-end: 2;
      & .statistics__likes {
        max-height: 44px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: var(--9, #222);
        & .item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 16px;
        }
        & .item_border {
          border-right: 1px solid #323232;
        }
        & .item_margin {
          margin-left: 15px;
        }
      }
      & .statistics__comments {
        max-height: 44px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: var(--9, #222);
        & .item {
          width: 85px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 16px;
        }
      }
    }
  }
  .views__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    white-space: nowrap;
    margin-right: 15px;
  }
  .dots__wrapper {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
  }
  .description__wrapper {
    margin-top: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
    & .description__whiteText {
      color: #eee;
      font-family: "Uto-400";
      font-size: 14px;
      line-height: normal;
    }
    & .description__link {
      color: rgba(173, 121, 85, 1);
      font-family: "Uto-400";
      font-size: 14px;
      line-height: normal;
      margin-left: 5px;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 0px;
       & .list {
        display: flex;
        flex-direction: column;
        list-style-type: circle;
        color: #fff;
        & ul {
        margin-bottom: 25px;
        }
        & li {
        margin-left: 20px;
     }   
    }
    & .text .textBrown {
    color: #EEE;
    font-family: 'Uto-400';
    font-size: 14px;
    line-height: normal;
    } 
    & .textBrown {
      color: rgba(173, 121, 85, 1) !important;
      margin-left: 5px;
    }
}
}

@media (min-width: 280px) and (max-width: 1024px) {
  .userPlayer__wrapper {
    width: 100%;
    min-height: 100vh;
    background: #111;
    overflow: hidden;
  }
  .userPlayer__main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 19px auto 0;
    padding: 0 16px;
    }
  .functions__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin-bottom: 17px;
    & .arrowLeft {
     display: none;
    }
  }
  .profile__wrapper {
    display: flex;
    align-items: center;
  }
  .subscribe__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 16px;
    & img {
        position: absolute;
        top: -58px;
        right: 0;
        z-index: 999;
    }
    & .button__wrapper {
        min-width: 100%;
    }
  }
  .videoplayer__wrapper {
    max-width: 100%;
    margin-bottom: 13px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .videoInfo__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 23px;
    & .title {
      margin-bottom: 22px;
      white-space: wrap;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    & .statistics__wrapper {
      display: flex;
      align-items: center;
      column-gap: 16px;
      grid-column-start: 1;
      grid-column-end: 2;
      & .statistics__likes {
        width: 163px;
        max-height: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        background: var(--9, #222);
        margin-top: 19px;
        & .item {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
        }
        & .item_border {
          border-right: 1px solid #323232;
        }
        & .item_margin {
           margin-left: 15px;
        }
      }
      & .statistics__comments {
        max-height: 38px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: var(--9, #222);
        margin-top: 19px;
        & .item {
          width: 67px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
        }
      }
    }
  }
  .views__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    white-space: nowrap;
    margin-right: 0px;
    margin-top: -8px;
  }
  .dots__wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 19px;
  }
  .description__wrapper {
    margin-top: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
    & .description__whiteText {
      color: #eee;
      font-family: "Uto-400";
      font-size: 14px;
      line-height: normal;
    }
    & .description__link {
      color: rgba(173, 121, 85, 1);
      font-family: "Uto-400";
      font-size: 14px;
      line-height: normal;
      margin-left: 5px;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 0px;
       & .list {
        display: flex;
        flex-direction: column;
        list-style-type: circle;
        color: #fff;
        & ul {
        margin-bottom: 25px;
        }
        & li {
        margin-left: 20px;
     }   
    }
    & .text {
    color: #EEE;
    font-family: 'Uto-400';
    font-size: 14px;
    line-height: 16px;
    } 
    & .textBrown {
      color: #EEE;
      font-family: 'Uto-400';
      font-size: 14px;
      line-height: normal;
      color: rgba(173, 121, 85, 1) !important;
      margin-left: 5px;
    }
}
}
