@media (min-width: 1025px) {
.main__wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(17, 17, 17, 1);
  overflow: scroll;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 24px auto 0;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 5.43fr;
  column-gap: 24px;
}
.sidebar__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.switcher__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--9, #222);
  & .switcher__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 38px;
    padding-left: 10px;
  }
  & .active {
    border-radius: 8px;
    background: var(--9, #222);
  }
}
.mySubscription__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  & .title {
    margin-bottom: 14px;
  }
  & .items__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border-bottom: 1px solid var(--9, #222);
  & .item {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .messages {
      width: 28px;
      height: 20px;
      border-radius: 100px;
      background: var(--light, #AD7955);

    }
  }
  }
}
.showMore__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  & .showMore__button {
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    align-self: center;
    & .rotate {
      transform: rotate(180deg);
    }
  }
}
.videos__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 100px;
  & .title {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 30px;
    margin-top: 12px;
    }
  & .itemMore {
    width: 100%;
    max-height: 240px;
    }
  & .item {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    & .video__wrapper {
      max-width: 100%;
      height: auto;
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    & .video__description {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      padding-top: 11px;
      padding-left: 6px;
    }
  }
}
.slider__wrapper {
max-width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 24px;
overflow: hidden;
& .video__wrapper {
  width: 100%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
}
.slide__wrapper {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  column-gap: 24px;
  width: 100% !important;
  margin-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  & img {
    max-width: 100%;
  }
}
.videos__body {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 24px;
  row-gap: 24px;
  overflow: hidden;
}
.strapi {
  font-size: 48px;
  color: #fff;
  z-index: 999;
}
}



@media (min-width: 280px) and (max-width: 1024px) {
  .main__wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(17, 17, 17, 1);
    overflow: scroll;
  }
  .container {
    //width: 100%;
    max-width: 100%;
    margin: 16px auto 0;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
  .sidebar__wrapper {
    width: 100%;
    display: none;
    flex-direction: column;
  }
  .switcher__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--9, #222);
    & .switcher__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 38px;
      padding-left: 10px;
    }
    & .active {
      border-radius: 8px;
      background: var(--9, #222);
    }
  }
  .mySubscription__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    & .title {
      margin-bottom: 14px;
    }
    & .items__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border-bottom: 1px solid var(--9, #222);
    & .item {
      width: 100%;
      height: 40px;
      padding: 0 10px 0 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .messages {
        width: 28px;
        height: 20px;
        border-radius: 100px;
        background: var(--light, #AD7955);
  
      }
    }
    }
  }
  .showMore__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    & .showMore__button {
      height: 30px;
      display: flex;
      align-items: center;
      column-gap: 5px;
      align-self: center;
      & .rotate {
        transform: rotate(180deg);
      }
    }
  }
  .videos__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 16px;
    margin-bottom: 100px;
    //overflow: hidden;
      & .title {
      grid-column-start: 1;
      grid-column-end: 2;
      height: auto;
      margin-top: 0px;
      margin-left: 16px;
      margin-bottom: 5px;
      }
    & .itemMore {
      max-height: 240px;
      }
    & .item {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      & .video__wrapper {
        max-width: 100%;
        height: auto;
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
      & .video__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding-top: 11px;
        padding-left: 6px;
      }
    }
  }
  .slider__wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    overflow: hidden;
    padding-left: 16px;
    & .video__wrapper {
      width: 214px;
      color: #fff;
      font-size: 48px;
      & img {
        min-width: 214px;
        max-width: 214px;
        height: 100%;
        object-fit: cover;
      }
    }
    }
    .slide__wrapper {
      display: flex !important;
      column-gap: 16px;
      width: 100% !important;
      max-width: 689px !important;
      white-space: nowrap;
      overflow: hidden;
      & img {
        max-width: 100%;
      }
    }
  .videos__body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
    padding: 0 16px;
    & .item {
      width: 100%;
      max-width: 100%;
    }
  }
}