@media (min-width: 1025px) {
    .signIn__wrapper {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: rgba(17, 17, 17, 1);
        overflow: hidden;
        position: relative;
        & .blur {
            width: 349px;
            height: 349px;
            position: absolute;
            top: 0%;
            right: 0%;
            //border-radius: 291px;
            background: var(--middle, #8F5334);
            filter: blur(250px);
        }
        & .blur2 {
            width: 349px;
            height: 349px;
            position: absolute;
            top: 50%;
            left: 13%;
            transform: translateY(-50%);
            border-radius: 349px;
            opacity: 0.8;
            background: var(--light, #AD7955);
            filter: blur(300px);
          }
    }
    .signIn__container {
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
        .images__wrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            & .item {
                display: flex;
                column-gap: 30.5px;
               }
            & .firstItem {
                width: 100%;
                height: auto;
                margin-left: 156px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 28px;
            }
            & .secondItem {
                width: 100%;
                height: auto;
                margin-left: 81px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 28px;
            }
            & .thirdItem {
                width: 100%;
                height: auto;
                margin-left: 33px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 28px;
            }
            & .forthItem {
                width: 100%;
                height: auto;
                margin-left: 107px;
                display: flex;
                align-items: flex-start;
                }
        }
        .signInForm__wrapper {
            width: 580px;
            height: 540px;
            border-radius: 16px;
            background: var(--10, #111);
            z-index: 5;
            position: absolute;
            top: 50%;
            right: 80px;
            transform: translateY(-50%);
            padding: 35px 0px 24px 0px;
        }
       .bold {
        color: var(--4, #EEE);
        font-family: 'Uto-700';
        font-size: 14px;
        line-height: normal;
       }
       
    }
    
    @media (min-width: 280px) and (max-width: 1024px) {
        .signIn__wrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background: rgba(17, 17, 17, 1);
            overflow: hidden;
            position: relative;
            padding-top: 24px;
            align-items: center;
            & .logo {
                position: absolute;
                top: 24px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 999;
                margin-bottom: 50px;
            }
            & .blur {
                position: absolute;
                top: 0%;
                right: -50%;
                width: 291px;
                height: 291px;
                flex-shrink: 0;
                border-radius: 291px;
                background: var(--middle, #8F5334);
                filter: blur(250px);
            }
            & .blur2 {
                display: none;
               }
        }
        .signIn__container {
            width: 100%;
            max-width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            }
                .signInForm__wrapper {
                width: 100%;
                height: auto;
                border-radius: 16px;
                background: var(--10, #111);
                //z-index: 5;
                // position: absolute;
                // top: 50%;
                // left: 0%;
                // transform: translateY(-50%);
                padding: 35px 16px 24px 16px;
            }
            .bold {
                color: var(--4, #EEE);
                font-family: 'Uto-700';
                font-size: 14px;
                line-height: normal;
               }
    }