@media (min-width: 1025px) {
    .wrapper {
       width: 100%; 
       max-width: 100%;
       height: 48px;
       position: relative;
       display: flex;
        align-items: center;
        justify-content: space-between;
       & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: var(--9, #222);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        color: var(--6, #999);
        font-family: 'Uto-400';
        font-size: 16px;
        line-height: normal;
       }
       & input::placeholder {
        color: var(--6, #999);
        font-family: 'Uto-400';
        font-size: 16px;
        line-height: normal;
       }
       & img {
        z-index: 2;
        position: absolute;
        right: 16px;
       }
      }
}


@media (min-width: 280px) and (max-width: 1024px) {
    .wrapper {
        width: 100%; 
        max-width: 100%;
        height: 48px;
        position: relative;
        display: flex;
         align-items: center;
         justify-content: space-between;
        & input {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 8px;
         background: var(--9, #222);
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 16px;
         color: var(--6, #999);
         font-family: 'Uto-400';
         font-size: 16px;
         line-height: normal;
        }
        & input::placeholder {
         color: var(--6, #999);
         font-family: 'Uto-400';
         font-size: 16px;
         line-height: normal;
        }
        & img {
         z-index: 2;
         position: absolute;
         right: 16px;
        }
       }
}