.text36500__wrapper {
    color: #fff;
    font-family: 'Uto-500';
    font-size: 36px;
    line-height: normal;
}
.text14500__wrapper {
    color: #fff;
    font-family: 'Uto-500';
    font-size: 14px;
    line-height: normal;
}
//---------------------------------------------------------------
.text14400__wrapper {
    color: #fff;
    font-family: 'Uto-400';
    font-size: 14px;
    line-height: normal;
}
.text16400__wrapper {
    color: #fff;
    font-family: 'Uto-400';
    font-size: 16px;
    line-height: normal;
}
.text12400__wrapper {
    color: #fff;
    font-family: 'Uto-400';
    font-size: 12px;
    line-height: normal;
}
//-------------------------------------------
.text14600__wrapper {
    color: #fff;
    font-family: 'Uto-600';
    font-size: 16px;
    line-height: normal;
}
.text14600__wrapper {
    color: #fff;
    font-family: 'Uto-600';
    font-size: 14px;
    line-height: normal;
}