@media (min-width: 1400px) {
    .videoCreator__wrapper {
      width: 100%;
      min-height: 100vh;
      background: var(--10, #111);
      padding-bottom: 24px;
      overflow: hidden;
       }
    .videoCreator__container {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0 24px;
       }
    .videoNavigation__wrapper {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 31px;
      padding-right: 44px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 168px;
          height: 59px;
          color: var(--3, #fff);
          font-family: "Uto-500";
          font-size: 24px;
          line-height: normal;
        }
        & .active {
          border-radius: 8px;
          background: var(--9, #222);
        }
      }
    }
    .video__navigation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--9, #222);
      margin-bottom: 24px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .active {
          color: #fff !important;
          border-bottom: 1px solid var(--light, #ad7955);
        }
        & .switcher__item {
          padding: 7px 24px;
          color: var(--7, #777);
          text-align: center;
          font-family: "Uto-600";
          font-size: 16px;
          line-height: 24px;
        }
        & .switcher__item:hover {
          border-bottom: 1px solid var(--light, #ad7955);
        }
      }
    }
    .playlistItem__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .videos__body {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0px;
      row-gap: 15px;
      overflow: hidden;
    }
    .playlistContainer {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
      row-gap: 15px;
      overflow: hidden;
      & .title {
        grid-column-start: 1;
        grid-column-end: 5;
        color: var(--3, #FFF);
        font-family: 'Uto-600';
        font-size: 20px;
      }
    }
    .button__wrapper {
      position: relative;
      width: 180px;
      & .addVideo {
        position: absolute;
        top: 25%;
        left: 25%;
        opacity: 0;
      }
      & .buttonSubmit {
        position: absolute;
        top: 0%;
        left: -150%;
        transform: translate(-50%);
        opacity: 0;
        color: #fff
      }
    }
  }
  @media (min-width: 1140px) and (max-width: 1399px) {
    .videoCreator__wrapper {
      width: 100%;
      min-height: 100vh;
      background: var(--10, #111);
      padding-bottom: 24px;
    }
    .videoCreator__container {
      width: 100%;
      max-width: 1392px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0 36px;
    }
    .videoNavigation__wrapper {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 31px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 168px;
          height: 59px;
          color: var(--3, #fff);
          font-family: "Uto-500";
          font-size: 24px;
          line-height: normal;
        }
        & .active {
          border-radius: 8px;
          background: var(--9, #222);
        }
      }
    }
    .video__navigation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--9, #222);
      margin-bottom: 24px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .active {
          color: #fff !important;
          border-bottom: 1px solid var(--light, #ad7955);
        }
        & .switcher__item {
          padding: 10px 24px;
          color: var(--7, #777);
          text-align: center;
          font-family: "Uto-600";
          font-size: 16px;
          line-height: 24px;
        }
        & .switcher__item:hover {
          border-bottom: 1px solid var(--light, #ad7955);
        }
      }
    }
    .playlistItem__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .videos__body {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 24px;
      row-gap: 24px;
      overflow: hidden;
    }
    .playlistContainer {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      row-gap: 15px;
      overflow: hidden;
      & .title {
        grid-column-start: 1;
        grid-column-end: 5;
        color: var(--3, #FFF);
        font-family: 'Uto-600';
        font-size: 20px;
      }
    }
    .button__wrapper {
      position: relative;
      & .addVideo {
        position: absolute;
        top: 0%;
        left: -50%;
        transform: translate(-50%);
        opacity: 1;
      }
      & .buttonSubmit {
        position: absolute;
        top: 0%;
        left: -150%;
        transform: translate(-50%);
        opacity: 1;
        color: #fff
      }
    }
  }
  @media (min-width: 1025px) and (max-width: 1139px) {
    .videoCreator__wrapper {
      width: 100%;
      min-height: 100vh;
      background: var(--10, #111);
      padding-bottom: 24px;
    }
    .videoCreator__container {
      width: 100%;
      max-width: 1392px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0 36px;
    }
    .videoNavigation__wrapper {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 31px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 168px;
          height: 59px;
          color: var(--3, #fff);
          font-family: "Uto-500";
          font-size: 24px;
          line-height: normal;
        }
        & .active {
          border-radius: 8px;
          background: var(--9, #222);
        }
      }
    }
    .video__navigation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--9, #222);
      margin-bottom: 24px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .active {
          color: #fff !important;
          border-bottom: 1px solid var(--light, #ad7955);
        }
        & .switcher__item {
          padding: 10px 24px;
          color: var(--7, #777);
          text-align: center;
          font-family: "Uto-600";
          font-size: 16px;
          line-height: 24px;
        }
        & .switcher__item:hover {
          border-bottom: 1px solid var(--light, #ad7955);
        }
      }
    }
    .playlistItem__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .videos__body {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 24px;
      row-gap: 24px;
      overflow: hidden;
    }
    .playlistContainer {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      row-gap: 15px;
      overflow: hidden;
      & .title {
        grid-column-start: 1;
        grid-column-end: 5;
        color: var(--3, #FFF);
        font-family: 'Uto-600';
        font-size: 20px;
      }
    }
    .button__wrapper {
      position: relative;
      & .addVideo {
        position: absolute;
        top: 0%;
        left: -50%;
        transform: translate(-50%);
        opacity: 1;
      }
      & .buttonSubmit {
        position: absolute;
        top: 0%;
        left: -150%;
        transform: translate(-50%);
        opacity: 1;
        color: #fff
      }
    }
  }
  
  @media (min-width: 280px) and (max-width: 1024px) {
    .videoCreator__wrapper {
      width: 100%;
      min-height: 100vh;
      background: var(--10, #111);
      padding-bottom: 24px;
      overflow: hidden;
    }
    .videoCreator__container {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      margin-top: 48px;
    }
    .submitForm__wrapper {
      max-width: 100%;
    }
    .videoNavigation__wrapper {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 31px;
      padding-right: 16px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 112px;
          height: 45px;
          color: var(--3, #fff);
          font-family: "Uto-500";
          font-size: 16px;
          line-height: normal;
        }
        & .active {
          border-radius: 8px;
          background: var(--9, #222);
        }
      }
    }
    .video__navigation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--9, #222);
      margin-bottom: 24px;
      & .videoSwitcher__wrapper {
        display: flex;
        align-items: center;
        & .active {
          color: #fff !important;
          border-bottom: 1px solid var(--light, #ad7955);
        }
        & .switcher__item {
          padding: 10px 24px;
          color: var(--7, #777);
          text-align: center;
          font-family: "Uto-600";
          font-size: 16px;
          line-height: 24px;
        }
        & .switcher__item:hover {
          border-bottom: 1px solid var(--light, #ad7955);
        }
      }
    }
    .playlistItem__header {
      display: flex;
      justify-content: flex-end;
      margin-bottom: -15px;
    }
    .videos__body {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 32px;
      overflow: hidden;
    }
    .button__wrapper {
      position: relative;
      max-width: 35px;
      & .addVideo {
        position: absolute;
        top: 0%;
        left: -50%;
        transform: translate(-50%);
        opacity: 1;
      }
      & .buttonSubmit {
        position: absolute;
        top: 0%;
        left: -150%;
        transform: translate(-50%);
        opacity: 1;
        color: #fff
      }
    }
    .playlistContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 32px;
      & .title {
      color: var(--3, #FFF);
      text-align: center;
      font-family: 'Uto-600';
      font-size: 20px;
     }
    }
  }
  