@media (min-width: 1025px) {
    .bio__wrapper {
        width: 100%;
        max-width: 100%;
    }
    .bio__container {
        max-width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto 330px;
        grid-template-rows: auto auto;
        row-gap: 26px;
        column-gap: 48px;
    }
    .bussinessName {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .adress {
        display: flex;
        justify-content: flex-end;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .about {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-top: -150px;
        & .title {
            margin-bottom: -21px;
        }
        & .list {
            display: flex;
            flex-direction: column;
            list-style-type: circle;
            color: #fff;
            & ul {
            margin-bottom: 25px;
            }
            & li {
            margin-left: 20px;
         }   
        }
    }
    .socialMedia {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background: var(--9, #222);
        padding: 24px;
        & .title {
            margin-bottom: 24px;
        }
        & .items__body {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        }
    }
}



@media (min-width: 280px) and (max-width: 1024px) {
    .bio__wrapper {
        width: 100%;
        max-width: 100%;
    }
    .bio__container {
        max-width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 24px;
        column-gap: 48px;
    }
       .adress {
        display: flex;
        justify-content: flex-start;
        }
    .about {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        margin-top: 0px;
        & .title {
            margin-bottom: -21px;
        }
        & .list {
            display: flex;
            flex-direction: column;
            list-style-type: circle;
            color: #fff;
            & ul {
            margin-bottom: 25px;
            }
            & li {
            margin-left: 20px;
         }   
        }
    }
    .socialMedia {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background: var(--9, #222);
        padding: 24px;
        & .title {
            margin-bottom: 24px;
        }
        & .items__body {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        }
    }
}