@media (min-width: 1025px) {
           .signInForm__wrapper {
            width: 580px;
            height: 540px;
            border-radius: 16px;
            background: var(--10, #111);
            z-index: 5;
            position: absolute;
            top: 50%;
            right: 80px;
            transform: translateY(-50%);
            padding: 35px 0px 24px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            & .title {
                margin-bottom: 16px;
            }
            & .text {
                display: flex;
                justify-content: center;
                margin-bottom: 61px;
            }
            & .forgotPassword__form {
                width: 72.4%;
                display: flex;
                flex-direction: column;
                 align-items: center;
            }
            & .inputs__wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 28px;
                & .input__wrapper {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;
                    & .input {
                        width: 100%;
                        height: 48px;
                        border-radius: 8px;
                        background: var(--9, #222);
                        padding: 0 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--6, #999);
                        font-family: 'Uto-400';
                        font-size: 16px;
                        line-height: normal;
                    }
                    & .input::placeholder {
                        color: var(--6, #999);
                        font-family: 'Uto-400';
                        font-size: 16px;
                        line-height: normal;
                    }
                    & .eye {
                        position: absolute;
                        bottom: 25%;
                        right: 15px;
                    }
                }
               }
                & .button__wrapper {
                width: 180px;
                height: 44px;
                border-radius: 8px;
                background: var(--light, #AD7955);
                align-self: center;
                margin-top: 11px;
                margin-bottom: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
               }
               & .reminder {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 5px;
               }
               & .terms {
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 24px;
                left: 50%;
                transform: translateX(-50%);
                color: var(--7, #777);
                font-family: 'Roboto-400';
                font-size: 12px;
                line-height: 22px; 
               }
        }
       
       
    }
    
    @media (min-width: 280px) and (max-width: 1024px) {
        .signInForm__wrapper {
            width: 100%;
            height: auto;
            border-radius: 16px;
            background: var(--10, #111);
            padding: 0px 16px 0px 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            & .title {
                margin-bottom: 40px;
            }
            & .forgotPassword__form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 40px;
                & .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 105%;
                    }
            }
                & .inputs__wrapper {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                & .input__wrapper {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;
                        & .input {
                        width: 100%;
                        height: 48px;
                        border-radius: 8px;
                        background: var(--9, #222);
                        padding: 0 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--6, #999);
                        font-family: 'Uto-400';
                        font-size: 16px;
                        line-height: normal;
                    }
                    & .input::placeholder {
                        color: var(--6, #999);
                        font-family: 'Uto-400';
                        font-size: 16px;
                        line-height: normal;
                    }
                    & .eye {
                        position: absolute;
                        bottom: 25%;
                        right: 15px;
                    }
                }
                & Link {
                    max-width: 180px;
                }
               }
                & .button__wrapper {
                width: 180px;
                height: 44px;
                border-radius: 8px;
                background: var(--light, #AD7955);
                align-self: center;
                margin-top: 11px;
                //margin-bottom: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
               }
               & .reminder {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 5px;
               }
               & .terms {
                width: 50%;
                text-align: center;
                position: absolute;
                bottom: 38px;
                left: 50%;
                transform: translateX(-50%);
                color: var(--7, #777);
                font-family: 'Roboto-400';
                font-size: 12px;
                line-height: 16px; 
               }
        }
}