@media (min-width: 1025px) {
.signInForm__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 0 80px;
    & .title {
        text-align: center;
        margin-bottom: 40px;
        }
    & .inputs__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
       }
       & .button__wrapper {
        align-self: center;
        margin-top: 11px;
        margin-bottom: 12px;
       }
       & .reminder {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
       }
       & .terms {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        color: var(--7, #777);
        font-family: 'Roboto-400';
        font-size: 12px;
        line-height: 22px; 
       }
    }
}

@media (min-width: 280px) and (max-width: 1024px) {
    .signInForm__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        position: relative;
            & .title {
            text-align: center;
            margin-bottom: 40px;
            }
        & .inputs__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
           }
           & .button__wrapper {
            align-self: center;
            margin-top: 11px;
            margin-bottom: 12px;
           }
           & .reminder {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
           }
           & .terms {
            width: 50%;
            text-align: center;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            color: var(--7, #777);
            font-family: 'Roboto-400';
            font-size: 12px;
            line-height: 16px; 
            margin-top: auto;
           }
        }
}