@media (min-width: 1025px) {
    .playlist__wrapper {
        width: 100%;
        max-width: 100%;
    }
    .playlist__container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .state__switcher {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        & .active {
        border-radius: 8px;
        background: var(--9, #222);
        color: #fff;
        }
       }
    .state__item {
        width: 88px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--5, #BBB);
        font-family: 'Uto-500';
        font-size: 16px;
        line-height: normal;
    }
    .video__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .videos__body {
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 24px;
        row-gap: 24px;
        overflow: hidden;
      }
}


@media (min-width: 280px) and (max-width: 1024px) {
    .playlist__wrapper {
        width: 100%;
        max-width: 100%;
    }
    .playlist__container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .state__switcher {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        & .active {
        border-radius: 8px;
        background: var(--9, #222);
        color: #fff;
        }
       }
    .state__item {
        width: 88px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--5, #BBB);
        font-family: 'Uto-500';
        font-size: 16px;
        line-height: normal;
    }
    .video__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .videos__body {
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 16px;
        overflow: hidden;
      }
}