@font-face {
	font-family: "Uto-400";
	src: url("./fonts/Fontspring-DEMO-uto-regular-BF641d1358d6d3e.woff");
}
@font-face {
	font-family: "Uto-500";
	src: url("./fonts/Fontspring-DEMO-uto-medium-BF641d135946306.woff");
}
@font-face {
	font-family: "Uto-600";
	src: url("./fonts/Fontspring-DEMO-uto-semibold-BF641d13592789d.woff");
}
