body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//overflow: hidden;
	}
p {
	margin: 0;
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
button {
	border: 0;
}
div {
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input {
	border: none;
	outline: none;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
button {
	border: none;
	outline: none;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	background: transparent;
}
textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    //overflow-x: hidden;
    min-width: 0;

}

ul {
	padding: 0;
	margin: 0;
}
@keyframes moveBlur {
	0% {
	  transform: translateY(0); /* Начальное положение (ноль смещения) */
	}
	50% {
	  transform: translateY(10px); /* Смещение в середине анимации */
	}
	100% {
	  transform: translateY(0); /* Возвращение к начальному положению */
	}
  }
  .navLinks__wrapper {
	display: flex;
  }
  .navLink {
	border: 1px solid lightslategrey;
	padding: 8px;
	margin-right: 10px;
  }
  Link {
	text-decoration: none;
  }
	 